database.db
dist
build
__pycache__

*.sqbpro
*.csv
*.xlsx

combined_consumable_levels_sheet.xlsx

combined_past_delivery_sheet.xlsx

!sample_file_past_delivery.xlsx
!sample_file_consumable_levels.xlsx